[submodule ".registry"]
	path = .registry
	url = https://github.com/alfredo-hs/alfredo-hs.r-universe.dev
	branch = HEAD
[submodule "easytable"]
	path = easytable
	url = https://github.com/alfredo-hs/easytable
